.preview.markdown-body {
  padding: 12px;
  width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
  background-color: #262728;
  transition: all 1s ease;
  animation-name: view;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-delay: .1s;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  cursor: default;
}

.preview.markdown-body pre {
  background-color: #161718;
}

@keyframes view {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(100%);
  }
}

@media only screen and (min-width: 1200px) {
  .preview.markdown-body {
    width: 800px;
    max-width: 800px;
  }
}