.noteList {
  width: 300px;
  height: calc(100vh - 24px);
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 40px;
}






/*
  change scrollbar width of noteList to 6px
*/


.noteList::-webkit-scrollbar {
  width: 6px;
}

.noteList::-webkit-scrollbar-track {
  background-color: #212327;
}

.noteList::-webkit-scrollbar-thumb {
  background-color: #343536;
  border-radius: 5px;
}

.buttonTools {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  color: #aaa;
  cursor: pointer;
}

.buttonTools:hover {
  color: #fff
}

.buttonTools:active {
  color: #bbb
}

.toolsBar {
  width: 300px;
  height: 30px;
  border-bottom: 1px solid #666;
  display: flex;
  gap: 10px;
  padding-left: 8px;
  margin-bottom: 5px;
}