.localFilesContainer {
  padding: 0;
  margin: 0;
  flex: 1;
}

.localFiles {
  padding: 0;
  margin: 0;
}

.title {
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 14px;
  color: #aaa;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  gap: 4px
}

.title:hover {
  color: #fff;
}

.loading {
  padding: 0 0 0 10px; 
  margin: 0;
}

.loadingText {
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #eee;
}


.contextMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #202122;
  border-radius: 2px;
  padding: 0;
  margin: 0;
  width: 250px;
  height: max-content;
  z-index: 1;
  border-radius: 4px;
  padding: 4px;
}

.contextMenuOption {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 24px;
  background-color: transparent;
  border: 0;
  color: #aaa;
  outline: 0;
  cursor: pointer;
  align-items: center;
  justify-content: flex-start;
  gap: 10px
}

.contextMenuOption:hover {
  background-color: #303132;
  color: #eee;
}