.containerLayout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.containerApp {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  background-color: #282c34;
}

.editor {
  width: calc(100vw - 250px);
  height: 90vh;
  min-height: 90vh;
  background-color: #282c34;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #161B22;
}

.topbar {
  width: 100vw;
  height: 28px;
  background-color: #161B22;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 2px;
  margin: 0px;
}

.navBtn {
  padding: 4px 6px;
  border: none;
  border-radius: 2px;
  background-color: #161B22;
  color: #aaa;
  cursor: pointer;
  height: 22px;
}

.navBtnDiss {
  padding: 4px 6px;
  border: none;
  border-radius: 2px;
  background-color: #161B22;
  color: #666;
  cursor: pointer;
  height: 22px;
}

.navBtn:hover {
  background-color: #3e4c5a;
  color: #fff;
}

.navBtn:active {
  background-color: #2e3c4a;
  color: #fff;
}

.backgroundTitle {
  width: 100%;
  background-color: #161B22;
  padding: 0;
  padding: 0 0 0 25px;
  margin: 0;
  height: 34px;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.backgroundTitle > p {
  margin: 0;
  padding: 0;
}

.folder {
  padding-top: 2px;
  color: #bd93f9;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 110px;
  max-width: 250px !important;
}

.slash {
  padding-top: 2px;
  color: #aaa
}

.folderName {
  color: #e06c75;
  height: 34px;
  font-size: 22px;
  font-weight: bold;
  background-color: transparent;
  border: 0;
  outline: 0;
  width: 100%
}

.preview {
  z-index: 9999999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px) saturate(200%) brightness(50%) !important;
  -webkit-backdrop-filter: blur(10px)  saturate(200%) brightness(50%) !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}