.statusbar {
  position: fixed;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  background-color: #323232;
  z-index: 1;
}

* {
  font-family: 'Roboto';
}

.loading-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #161B22;
}